@charset "utf-8";
/* CSS Document */

body {
}

ul {
  list-style-image:url("/images/starfish_bullet.png");
}

div.skybar {
 
left: 0px;
  height: 105px;
  width: 100%;
  position:absolute;
  margin: 0px;
  padding: 0px;
  z-index: -1;  
}
div#sky1 {
  top: 0px;
  position:absolute;
  
}
div#sky2 {
  display: none;
  top:106px;
  position:absolute;
  
}
div#sky3 {
  
  top: 106px;
  position:absolute;

}



div#squid {
  position: absolute;
  right: 20%;  
}

div#lighthouse {
  position:absolute;
  top:0px;
  left:-20px;
  width:300px;
  height:90;
  z-index:0;
}

div#clouds-left {
  position:absolute;
  top:-50px;
  left:0px;
  z-index:1;
}

div#clouds-right {
  position:absolute;
  top:-42px;
  left:530px;
  z-index:1;
}

div#sky-patch {
  position:absolute;
  top:0px;
  left:970px;
  z-index:2;
}

div#copyright {
  font-size:0.7em;
  color:#5FC0CE;
}

div#main {
  position:absolute;
  top:120px;
  margin:0 0;
  padding: 100px 0 0 0;
  z-index:1;
  height: 100%;
  width:100%;
  background-image: url(/images/simple_ocean_trans.png);
  background-repeat:repeat-x;
  




}

div#main-intro h1 {
  margin: -35px 0 0 0;
  padding: 0 0 0 87px;
}
