@charset "utf-8";
/* CSS Document */

body {
	background-color:#444;
	color: #dd9966;
	
}
 
 
h1, h2, h3, h4, h5, h6 {
	font-family: 'lucida grande', helvetica, arial, sans-serif;

}

a {
	color: #b65;
	text-decoration:none;		
}
a:hover {
	color:#c76;
}

ul {
	list-style-type:none;	
}

div {
	padding: 0px;
	margin: 0px;
	border:0px blue solid;
}

div#main {
	height:632px;
	width:1062px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 47px;
	background-image:url(/images/seastorm.png);
	background-repeat:no-repeat;

}

div#main-intro {
	width:100%;
	padding:33px 0 0 27px;
	border:0px red solid;
}

div#main-context {
	margin:57px 17px 0 0;
	width:290px;
	height:230px;
	float:right;
}

div#copyright {
	width: 1062px;
	text-align:right;
	margin-left:auto;
	margin-right:auto;
	font-size:11px;
}

div.boxy {
	width: 350px;
	height: 400px;
	float:left;
}