@charset "UTF-8";

a {
 color:#f05f08;
 font-style: italic;
 text-decoration:none;
}

body {
  font-family: Georgia,Times, "Times New Roman", serif;
  font-size: 15px;
  color: #32383a;
  padding: 0;
  margin: 0;
  background: #e4e2d4 url('../images/background.png') no-repeat fixed center center;
  overflow:hidden;
}

/* this div is for centering only */
div#horizon {
  position: absolute;
  background-color: transparent;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 0px;
  overflow: visible;
  visibility: visible;
  display: block

}

div#content {
  margin-left: -416px;
  position: absolute;
  top: -353px;
  left: 50%;
  width: 833px;
  height: 70px;
  visibility: visible

/*  position: relative;
  margin: 40% auto auto auto;

  height: 100%;*/
}

div#contact {
  position: relative;
  top: 59px;
  left: 16px;
  width: 100%;
}

div#stresslimit {
  position:relative;
  top: 76px;
  left: 17px;
  height:120px;
  width: 346px;
  background:url(../images/logos.png) left bottom no-repeat;
  text-indent:-9999em;
}

div#contact {
  font-size: 0.9em;
  letter-spacing: 0.009em;
}

div#messages {
  position: relative;
  top: 26px;
  left: 228px;
  width: 700px;
}

div#message_1 {
  left: 189px;
  width: 288px;
  background: transparent url('../images/message_1.png') no-repeat top left;
}
div#message_1 p {
  width: 265px;
}

div#message_2 {
  padding:29px 19px 27px 19px;
  color: #fff;
  width: 212px;
  float: left;
  background: transparent url('../images/trans_black_pixel.png') repeat top left;
}
div#message_2 p {
  width: 225px;
  font-size: 1.3em;
  letter-spacing: -.02em;
  line-height: 1.3em;
}

div#message_3_4 {
  float: left;
  margin: 0;
  padding: 0;
}

div#message_3 {
  width: 315px;
  background: transparent url('../images/trans_blue_pixel.png') repeat top left;
  padding: 15px 0 12px 16px;
}
div#message_3 p {
  width: 300px;
  letter-spacing: 0.015em;
}



div#message_4 {
  padding: 5px 14px;
  width: 150px;
  background: transparent url('../images/message_4.png') no-repeat bottom left;
}
div#message_4 ul {
  font-size: .850em;
  width: 140px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0 0 0 0;
  padding: 3px 0 3px 0;
  line-height: 1.39em;
  letter-spacing: 0.04em;
}


div.message {
  position: relative;
  margin: 0 6px 6px 0;
  padding: 16px 0 14px 16px;
}

div.message p {
  line-height: 1.24em;
  letter-spacing: 0.02em;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.35em;
  letter-spacing: .031em;
}

span#email { margin-left: 30px; }
span#email a { color:#000; text-decoration:none; }
span#email a:hover { color:#f05f08; }
span#address { margin-left: 86px; }
span.contact_label { color: #f05f08; }

